.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Certifique-se de ajustar conforme necessário */
}


/*carousel ta no index.css*/

.item {
  text-align: center; 
  margin: 10px;
  border-radius: 15px; 
  padding: 15px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.item img {
  max-width: 100%; 
  max-height: 100%; 
  object-fit: contain; 
  margin-top: 20px;
}

.item-text {
  margin-top: 20px;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 500;
  color: #01455b;
  line-height: 1.4;
  
}

.item-button {
  margin-top: -10px;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  background: linear-gradient(45deg, #01455b, #002b39);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.item-button:hover {
  background: linear-gradient(45deg, #006c91, #01455b);
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.item-button:active {
  transform: translateY(0);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
/* Dots Container */
.dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

/* Individual Dot */
.dot {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #01455b;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
